body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'EB Garamond', serif;
  color: white;
}

body.landing-page {
  background: url("../images/landing-bg-hq.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'EB Garamond', serif;
  color: white;
}

/* MAIN PAGE TITLE */
.main-title h1, .sub-header h1 {
  font-family: 'Anton', sans-serif;
  color: white;
  text-decoration: none;
}
.main-title h1 {
  font-size: 7vw;
}
.main-title {
  padding-top: 10vh;
}
.sub-header h1 {
  font-size: 30px;
}
.sub-header {
  padding-top: 20px;
  padding-bottom: 30px;
}

/* REMOVE UNDERLINES FROM ALL LINKS */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* MENU BAR */
.nav-item {
  font-family: 'Anton', sans-serif;
  color: white;
  opacity: 0.5;
}
.nav-item:hover {
  color: white;
  opacity: 1.0;
}
.active {
  opacity: 1.0;
}

/* HEADSHOTS */
.single-shot {
  padding-bottom: 30px;
}

/* MENU BAR COLLAPSED */
.navbar button {
  font-family: 'Anton', sans-serif;
  color: white;
}

/* RESUME H2 AND TABLE */
h2 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}
table, p {
  font-weight: bold;
  font-size: 20px;
}

/* CONTACT PAGE */
#contact a span {
  color: white;
  font-size: 25px;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .main-title img {
    width: 100px;
    height: 100px;
  }
  .sub-header h1{
    font-size: 35px;
  }
  #contact a span {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  body {
    /*background-position: center -200px;*/
  }
}
@media (min-width: 992px) {
  .main-title img {
    width: 125px;
    height: 125px;
  }
}
@media (min-width: 1200px) {
  .main-title img {
    width: 150px;
    height: 150px;
  }
}
